*{padding: 0;margin: 0;box-sizing: border-box;}
body{
    background-image: url(../Images/officeimage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.menu{
    background: rgb(50,50,50);
}
.menu ul{
    list-style: none;
    display: inline-flex;
}
.menu ul li{
    width: 150px;
    height: 60px;
    padding: 15px;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family:arial;
}